.stats-row{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $spacer;

    grid-auto-flow: row dense;

    &__col{
        &_title{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}