.item-content{
    background: $white;
    border: 1px solid $border-color;
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 10px 4px 30px rgba(18, 61, 101, 0.1);
    border-radius: $border-radius;
}