.btn{
    border: none;
    outline: none;
    box-shadow: none;

    border-radius: 8px;
    box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.6), 6px 9px 20px rgba(15, 48, 87, 0.2);

    font-size: 14px;
    font-weight: 600;
    padding: 16px 46px;
    
    transition: all .4s;

    &:hover, &:focus{
        text-decoration: none;
        box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.8), 6px 9px 20px rgba(15, 48, 87, 0.4);
    }

    &--full{
        width: 100%;
    }
}