header.header
    .container
        .row.align-items-center
            .col-3.col-md-6.col-sm-4.header__logo-row
                a.header__logo(href="/index.html")
            .col-6.col-md-3.col-sm-4.header__nav
                svg.header__nav-svg(viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg")                
                    path(d="M23.0305 7.35376H0.969469C0.434062 7.35376 0 7.78778 0 8.32323C0 8.85868 0.434062 9.2927 0.969469 9.2927H23.0305C23.566 9.2927 24 8.85868 24 8.32323C24 7.78782 23.566 7.35376 23.0305 7.35376Z" fill="#0F3057" fill-opacity="0.25")
                    path(d="M23.0305 0H0.969469C0.434062 0 0 0.434062 0 0.969469C0 1.50487 0.434062 1.93894 0.969469 1.93894H23.0305C23.566 1.93894 24 1.50487 24 0.969469C24 0.434062 23.566 0 23.0305 0Z" fill="#0F3057" fill-opacity="0.25")
                    path(d="M23.0305 14.7074H0.969469C0.434062 14.7074 0 15.1414 0 15.6769C0 16.2123 0.434062 16.6463 0.969469 16.6463H23.0305C23.566 16.6463 24 16.2123 24 15.6769C24 15.1414 23.566 14.7074 23.0305 14.7074Z" fill="#0F3057" fill-opacity="0.25")
                .header__nav-title Menu
                .navbar.navbar_header
                    a.navbar__link.navbar__link--active(href="/index.html") About company
                    a.navbar__link(href="/product.html") Products
                    a.navbar__link(href="/contact.html") Contact us
            .col-3.col-md-3.col-sm-4.header__subnav
                .header__switch-row.d-md-none
                    a.header__switch.header__switch--active(href="/") EN
                    a.header__switch(href="/") RU
                    a.header__switch(href="/") AR
                a.header__tracking(href="#")
                    svg.header__tracking-svg(viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M4.29764 5.6637C5.05267 5.6637 5.66474 5.05163 5.66474 4.2966C5.66474 3.54158 5.05267 2.9295 4.29764 2.9295C3.54261 2.9295 2.93054 3.54158 2.93054 4.2966C2.93054 5.05163 3.54261 5.6637 4.29764 5.6637Z" fill="#0F3057")
                        path(d="M7.33579 7.33463C8.1473 6.52313 8.59424 5.4442 8.59424 4.29652C8.59424 1.92743 6.66681 0 4.29768 0C1.92859 0 0.00115967 1.92743 0.00115967 4.29652C0.00115967 5.4442 0.44806 6.52313 1.2596 7.33463L4.29768 10.3727L7.33579 7.33463ZM1.75884 4.2966C1.75884 2.89669 2.89777 1.75776 4.29768 1.75776C5.69759 1.75776 6.83652 2.89669 6.83652 4.2966C6.83652 5.69651 5.69759 6.83544 4.29768 6.83544C2.89777 6.83544 1.75884 5.69651 1.75884 4.2966Z" fill="#0F3057")
                        path(d="M16.874 12.4561C15.151 12.4561 13.7492 13.8578 13.7492 15.5808C13.7492 16.4155 14.0742 17.2002 14.6644 17.7904L16.874 20L19.0836 17.7904C19.6737 17.2002 19.9988 16.4155 19.9988 15.5808C19.9988 13.8578 18.597 12.4561 16.874 12.4561Z" fill="#0F3057")
                        path(d="M4.88355 16.2268C4.88355 14.7937 6.04946 13.6278 7.48258 13.6278H9.65669C10.9441 13.6278 11.9914 12.5805 11.9914 11.2931C11.9914 10.0057 10.9441 8.95834 9.65669 8.95834H7.38349V10.1301H9.65673C10.298 10.1301 10.8197 10.6518 10.8197 11.2931C10.8197 11.9344 10.298 12.4561 9.65673 12.4561H7.48261C5.40341 12.4561 3.71185 14.1476 3.71185 16.2269C3.71185 18.3061 5.40337 19.9976 7.48261 19.9976H14.023V18.8259H7.48261C6.04947 18.8259 4.88355 17.6599 4.88355 16.2268Z" fill="#0F3057")
                    .header__tracking-title Tracking
.navbar-mobile
    .navbar
        a.navbar__link.navbar__link--active(href="/index.html") About company
        a.navbar__link(href="/product.html") Products
        a.navbar__link(href="/contact.html") Contact us
    .navbar-mobile__switch-row
        a.navbar-mobile__switch.navbar-mobile__switch--active(href="/") EN
        a.navbar-mobile__switch(href="/") RU
        a.navbar-mobile__switch(href="/") AR
