footer.footer.container
    .row
        .col-4
            p © Euro Comm SA. 2020. All Rights Reserved
        .col-4.text-center
            a.footer__link(href="#") Terms
            a.footer__link(href="#") Privacy
            a.footer__link(href="#") Security
        .col-4.text-right
            p developed by 
                a.footer__link(href="#") websoho.ru