footer.footer.container
    .row
        .col-4.col-md-12.text-md-center
            p © Euro Comm SA. 2020. All Rights Reserved
        .col-4.col-md-12.text-center
            a.footer__link(href="#") Terms
            a.footer__link(href="#") Privacy
            a.footer__link(href="#") Security
        .col-4.col-md-12.text-md-center.text-right
            p(dir="ltr") developed by 
                a.footer__link(href="#") websoho.ru