.checkbox{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    &__input{
        display: none;

        &:checked + .checkbox__label:before {
            background: $body-bg url("../icon/check.svg") no-repeat center / 10px;
        }
    }
    &__label{
        position: relative;
        margin: 0;
        padding-left: 24px;
        line-height: 14px;

        cursor: pointer;

        &:before{
            content:'';
            display: block;

            width: 14px;
            height: 14px;
            background: $body-bg;
            border: 0.5px solid rgba(18, 61, 101, 0.1);
            box-sizing: border-box;
            box-shadow: inset 0px 4px 4px rgba(18, 61, 101, 0.1);
            border-radius: 3px;

            position: absolute;
            left: 0;
            top: 0;
        }
    }
}