html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Product Page

        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include component/header/header.pug
        section.container.mt-md-3.mt-sm-2
            .item-content.content-header(style="background-image:url('./img/demo-2.jpg');")
                h1.content-header__title Our Flagship Products
                p.content-header__intro Wheat, barley, corn, soya meal, refined and crude edible food oils, sugar and rice.
            .row
                .col-6.col-md-12.mt-3.mt-md-2
                    .product
                        .product__content
                            p.product__title Wheat
                            p.product__intro Wheat of the best cereal culture. It is one of the top three most produced crops globally, along with corn and rice. It is the major food crop that plays a vital role in meeting the world food requirement.
                        .product__image(style="background-image:url('./img/demo.jpg');")
                .col-6.col-md-12.mt-3.mt-md-2
                    .product
                        .product__content
                            p.product__title Barley
                            p.product__intro Barley is a wonderfully versatile cereal grain with a rich nutlike flavor and an appealing chewy, pasta-like consistency. Its appearance resembles wheat berries, although it is slightly lighter in color. Barley is the main raw material for the brewing industry, also is widely used for food and technical purposes.
                        .product__image(style="background-image:url('./img/demo.jpg');")
                .col-6.col-md-12.mt-3.mt-md-2
                    .product
                        .product__content
                            p.product__title Sunflower oil
                            p.product__intro Sunflower oil is one of the top five most produced edible vegetable oils in the world. The best use of sunflower oil can be seen in food preparation. It is used as frying oil all over the world. If you mixed it with diesel then you can use it as a fuel too.
                        .product__image(style="background-image:url('./img/demo.jpg');")
        include component/footer/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")