.map-info{
    padding: map-get($map: $spacers, $key: 3);
    &__item{
        padding-left: $spacer;
        background: no-repeat left -4px / 30px;

        &_orig{
            background-image: url("../icon/mapbox-icon.png");
        }
        &_dest{
            background-image: url("../icon/mapbox-icon-gold.png");
        }
    }
}

[dir='rtl']{
    .map-info{
        &__item{
            padding-left: 0;
            padding-right: $spacer;
            background-position-x: right;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .map-info{
        padding: map-get($map: $spacers, $key: 2);
    }
}