.map {
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 10px 4px 30px rgba(18, 61, 101, 0.1);
    border-radius: $border-radius;
    height: 400px;
    .mapboxgl-canvas{
        outline: none;
        &:focus{
            outline: none;
        }
    }
}

.map-marker-1 {
    background-image: url('../icon/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.map-marker-2 {
    background-image: url('../icon/mapbox-icon-gold.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 240px;
}

.mapboxgl-popup-content {
    min-width: 120px;
    text-align: center;
}
.mapboxgl-popup-close-button{
    outline: none;
    &:focus{
        outline: none;
    }
}